.log-container {
    margin-top: 6%;
    width: 89%;
    margin-left: 10%;
    background-color: #36454F;
    border-radius: 5px;
    color: white;
    height: 500px;
}

.heading {
    color: white;
    margin-left: 5%;
    padding-top: 21px;
}

table {
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    font-size: 14px;
    border-collapse: collapse;
}

th,
td {
    height: 38px;
    background-color: #353935;
    color: #ffffff;
    border: none;
    padding: 0 10px;
    border-bottom: 2px solid #000000;
    text-align: center;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #1b1b1b;
    font-weight: bold;
}

thead th,
td {
    border-radius: 4px;
}

tbody tr:nth-child(even) {
    background-color: #2b2b2b;
}

tbody tr:hover {
    background-color: #444444;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #1B1B1B;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: blue;
}

.options-item {
    height: 38px;
    background-color: #353935;
    color: white;
    border: none;
    padding-left: 10px;
    width: 200px;
    border-bottom: 2px solid black;
}
.download-section{
    display: flex;
    justify-content: space-between;
    margin-right: 72px;
    margin-top: 9px;
}
::placeholder {
    color: white;
}
.download-btn{
    background: #0056b3;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
    height: 38px;
    margin-top: 2px;
  }

